# Nokia EA0326GMP
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_nokia_ea0326gmp=y


# ---------- 取消集成 OpenClash 及相关依赖 ----------
# CONFIG_PACKAGE_luci-app-openclash is not set
# CONFIG_PACKAGE_luci-i18n-openclash-zh-cn is not set
CONFIG_PACKAGE_dnsmasq=y
# CONFIG_PACKAGE_dnsmasq-full is not set
# CONFIG_PACKAGE_kmod-tun is not set
# CONFIG_PACKAGE_kmod-inet-diag is not set
# CONFIG_PACKAGE_ipset is not set
# CONFIG_PACKAGE_ip-full is not set
# CONFIG_PACKAGE_coreutils is not set
# CONFIG_PACKAGE_coreutils-nohup is not set
# CONFIG_PACKAGE_bash is not set
# CONFIG_PACKAGE_curl is not set
# CONFIG_PACKAGE_ca-bundle is not set
