# =================================================
# Xiaomi Mi Router AX3000T
# MT7981 / 256MB
# =================================================

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=y


# =================================================
# AX3000T 专用精简
# =================================================

# 蓝牙
# CONFIG_PACKAGE_kmod-bluetooth is not set
# CONFIG_PACKAGE_kmod-bluetooth-6lowpan is not set

# 声卡
# CONFIG_PACKAGE_kmod-sound-core is not set
# CONFIG_PACKAGE_kmod-usb-audio is not set

# 视频
# CONFIG_PACKAGE_kmod-video-core is not set

# USB 打印机
# CONFIG_PACKAGE_kmod-usb-printer is not set

# CAN
# CONFIG_PACKAGE_kmod-can is not set

# 非必要文件系统
# CONFIG_PACKAGE_kmod-fs-btrfs is not set
# CONFIG_PACKAGE_kmod-fs-xfs is not set
